{% extends "layouts/layout.njk" %}
{% set page_title = "Dashboard" %}

{% block main %}
<section class="hero-banner magic-ball">
	<div class="container">
		<div class="row align-items-center text-center text-md-left">
			<div class="col-lg-10 col-xl-10 align-self-center mb-8 mb-lg-0">
			</div>
			<div class="col-lg-2 col-xl-2 align-self-center mb-8 mb-lg-0">
				<a class="btn btn-warning" href="" data-toggle="modal" data-target="#myModalAdd" >Tambah Kelas</a>
			</div>
			<br>
			<br>
			<div class="col-lg-12 col-xl-12 align-self-center mb-2 mb-lg-0">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Mata Kuliah</th>
							<th scope="col">Pertemuan</th>
							<th scope="col">Waktu</th>
							<th scope="col">Ruangan</th>
							<th scope="col">Option</th>
						</tr>
					</thead>

					<tbody>
						{% for item in results %}
						<tr>
							<th scope="row">1</th>
							<td>
								<a href="">{{ item.nama_matkul }}</a>
							</td>
							<td>{{ item.kelas }}</td>
							<td>
								<button class="btn btn-warning">edit</button>
								<button class="btn btn-danger">hapus</button>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<form action="/dosen/addkelas" method="post">
		<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Tambah Matkul</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="text" placeholder="Nama Mata Kuliah" name="nama_matkul" class="form-control">
						</div>

						<div class="form-group">
							<input type="text" placeholder="Kelas" name="kelas" class="form-control">
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="id" class="id_matkul">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Tambahkan</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	</div>
</section>
<br>
{% endblock %}